<div class="aboutContainer">
    <div id="imageSlider" class="imageSlider carousel slide carousel-fade" data-ride="carousel" data-interval="0">
        <div class="carousel-inner">
            <div style="height:100%" class="carousel-item active">
                <img class="image" src="/images/artur/index.jpg" />
            </div>
            <% Object.keys(translation.main.about.paragraph).forEach((k,index)=> { %>
                <div style="height:100%" class="carousel-item">
                    <img class="image" src="/images/artur/<%= k %>.jpg" />
                </div>
            <% }); %>
        </div>
    </div>

    <div class="contentContainer">
        <div class="headersContainer">
            <h1><%= translation.main.about.headers[0] %></h1>
            <h3><%= translation.main.about.headers[1] %></h3>
        </div>
        <div class="navigationSlider"> 
            <% Object.keys(translation.main.about.paragraph).forEach((key,index)=> { %>
                <div id="<%=key%>Link" onclick="select('<%=key%>', <%=index+1%>)" class="notSelectedDiv">
                    <%= translation.main.about.paragraph[key].link %>
                </div>
            <% }); %>
        </div>
        <div class="textSlider">
            <div id="textSliderText">
                <div class="details">
                    <h3><%= translation.main.about.details.name %></h3>
                    <p>Artur Ziemba</p>
                    <hr>
                    <h3><%= translation.main.about.details.age %></h3>
                    <p><%= age %></p>
                    <hr>
                    <h3 style="visibility: hidden">&nbsp;</h3>
                    <div>
                        <h3><%= translation.main.about.details.location %></h3>
                        <a target="_blank" rel="noopener noreferrer" href="https://maps.google.com/?q=Szczecin Poland">
                            <i class="material-icons">location_on</i><p>Szczecin</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const selectContext = {}
    $(document).ready(()=> selectContext.carouselChange = (i) => $("#imageSlider").carousel(i))
    let textSliderText = document.getElementById('textSliderText')
    let texts = {
        initialText: textSliderText.innerHTML,
        <% Object.keys(translation.main.about.paragraph).forEach((key, index)=> { %>
            <%= key %>:"<%= translation.main.about.paragraph[key].text %>",
        <% }); %>
    }
    function select(key, index){
        select.key = key
        if (select.active){
            document.getElementById(select.active+"Link").className='notSelectedDiv'
        }
        if (select.active!==select.key){
            select.active = select.key
            document.getElementById(select.active+"Link").className='selectedDiv'
        } else {
            select.active = null
            index = 0
        }

        if (selectContext.carouselChange)
            selectContext.carouselChange(index)

        // quick and dirty solution
        textSliderText.className='fadeOut'
        setTimeout(()=>{
            textSliderText.innerHTML = texts[select.key] !== textSliderText.innerHTML 
                ? texts[select.key] 
                : texts.initialText
            textSliderText.className='fadeIn'
        }, 500)
    }
</script>