<img class="background" src="/background/.jpg"/>
<div class="aboutContainer">
    <div id="imageSlider" class="imageSlider carousel slide" data-ride="carousel" data-interval="0">
        <div class="carousel-inner">
            <% Object.keys(translation.main.about.paragraph).forEach((k,index)=> { %>
                <div style="height:100%" class="carousel-item <%= index===0 ? 'active' : '' %>">
                    <img class="image" src="/images/artur/<%= k %>.jpg" />
                </div>
            <% }); %>
        </div>
    </div>

    <div class="contentContainer">
        <div class="headersContainer">
            <h1><%= translation.main.about.headers[0] %></h1>
            <h3><%= translation.main.about.headers[1] %></h3>
        </div>
        <div class="navigationSlider"> 
            <% Object.keys(translation.main.about.paragraph).forEach((key,index)=> { %>
                <div data-slide-to="<%=index%>" href="#imageSlider" id="<%=key%>Link" 
                onclick="select('<%=key%>')"  class="notSelectedDiv">
                    <%= translation.main.about.paragraph[key].link %>
                </div>
            <% }); %>
        </div>
        <div class="textSlider">
            <div id="textSliderText">
                <div class="details">
                    <h3><%= translation.main.about.details.name %></h3>
                    <p>Artur Ziemba</p>
                    <hr>
                    <h3><%= translation.main.about.details.age %></h3>
                    <p><%= age %></p>
                    <hr>
                    <h3 style="visibility: hidden">&nbsp;</h3>
                    <div>
                        <h3><%= translation.main.about.details.location %></h3>
                        <a target="_blank" rel="noopener noreferrer" href="https://maps.google.com/?q=Szczecin Poland">
                            <i class="material-icons">location_on</i><p>Szczecin</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let textSliderText = document.getElementById('textSliderText')
    let texts = {
        initialText: textSliderText.innerHTML,
        <% Object.keys(translation.main.about.paragraph).forEach((key, index)=> { %>
            <%= key %>:"<%= translation.main.about.paragraph[key].text %>",
        <% }); %>
    }
    function select(key){
        this.key = key
        if (this.active){
            document.getElementById(this.active+"Link").className='notSelectedDiv'
        }
        if (this.active!==this.key){
            this.active = this.key
            document.getElementById(this.active+"Link").className='selectedDiv'
        } else {
            this.active = null
        }

        // quick and dirty solution
        textSliderText.className='fadeOut'
        setTimeout(()=>{
            textSliderText.innerHTML = texts[this.key] !== textSliderText.innerHTML 
                ? texts[this.key] 
                : texts.initialText
            textSliderText.className='fadeIn'
        }, 500)
    }
</script>