<img class="background asyncImage" asyncImage="/background/.jpg"></img>
<div class="contactContainer">
    <h1><%= translation.main.contact.header %></h1>
    <div class="contactsWay">
        <div>
            <h2>
                <i class="material-icons">email</i>
                <%= translation.main.contact.email.key %>
            </h2>
            <h2 class="selectable">
                <a href="mailto:<%= translation.main.contact.email.value %>">
                    <%= translation.main.contact.email.value %>
                </a>
            </h2>
        </div>
        <div>
            <h2>
                <i class="material-icons">phone</i>
                <%= translation.main.contact.phone.key %>
            </h2>
            <h2 class="selectable">
                <a href="tel:<%= translation.main.contact.phone.value.replace(/\s+/g, '') %>">
                    <%= translation.main.contact.phone.value %>
                </a>
            </h2>
        </div>
    </div>
    <form onsubmit="Send(event)">
        <h2><%= translation.main.contact.form.header %></h2>
        <div class="form-group">
            <label for="subject"><%= translation.main.contact.form.subject.key %>: </label>
            <input type="text" class="form-control" id="subject" placeholder="<%= translation.main.contact.form.subject.placeholder %>" required>
        </div>
        <div class="form-group">
            <label for="text"><%= translation.main.contact.form.text.key %>: </label>
            <textarea type="text" rows="10" id="text" placeholder="<%= translation.main.contact.form.text.placeholder %>" required></textarea>
        </div>
        <div class="form-group">
            <label for="contact"><%= translation.main.contact.form.contact.key %>: </label>
            <input type="text" class="form-control" id="contact" placeholder="<%= translation.main.contact.form.contact.placeholder %>" required>
        </div>
        <div class="formAction">
            <button style="color: inherit;" id="formButton" class="alert btn btn-primary bg-dark" type="submit"><%= translation.main.contact.form.button %></button>
        </div>
        <div id="formError" style="display: none; text-align: center;" class="alert alert-danger" role="alert"></div>
    </form>
</div>
<script>
    const spinner = '<div style="background-color: white; width: 30px; height: 30px" class="spinner"></div>'
    function Send(e){
        e.preventDefault()
        const formButton = document.getElementById('formButton')
        const formError = document.getElementById('formError')
        if (formButton.innerHTML === spinner)
            return
        const formButtonText = formButton.innerHTML
        formButton.innerHTML = spinner
        formButton.disabled = true
        formButton.style['pointer-events'] = 'none'
        fetch('', {
            method: 'post',
            credentials: 'same-origin',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({
                subject: document.getElementById('subject').value,
                text: document.getElementById('text').value,
                contact: document.getElementById('contact').value,
            })
        }).then(res=>{
            if (!res.ok) throw res
            formError.style.display = "none"
            document.getElementById('subject').value = ""
            document.getElementById('message').value = ""
            document.getElementById('contact').value = ""
            formButton.innerHTML = "<%= translation.main.contact.form.confirmation %>"
        }).catch(async res=>{
            console.error(res)
            let message = res.statusText || "Service Unavailable"
            try {
                message  = await res.json()
                message = { 
                    <% Object.keys(translation.main.contact.form).forEach(k=> { %>
                        <%= k %>: "<%= translation.main.contact.form[k].invalid %>",
                    <% }); %>
                }[message] || message
            }
            catch(e){}
            formButton.innerHTML = formButtonText
            formButton.disabled = false
            formButton.style['pointer-events'] = ''
            formError.style.display = ""
            formError.innerHTML = message
        })
    }
</script>