<img style="z-index: <%=-projects.length-1%>"class="background asyncImage" asyncImage="/background/.jpg"></img>
<div class="projectsContainer">
    <ul>
        <% Object.keys(tags).forEach(tagKey=> { %>
            <li>
                <input onclick="showTags('<%=tags[tagKey]%>')" type='radio' 
                value='<%=tagKey%>' name='radio' id='<%=tags[tagKey]%>Tag'/>
                <label for='<%=tags[tagKey]%>Tag'>
                    #<%= translation.glossary[tags[tagKey]] || tags[tagKey] %>
                </label>
                <input type='radio'/>
            </li>
        <% }); %>
    </ul>
    <div id="projectsContainerContent">
        <% shuffle(projects).forEach((project, index)=> { %>
            <div class="projectContainer" tags="<%=project.tags.join(';')%>">
                <img style="z-index: <%=index+1%>" class="projectBackground asyncImage" asyncImage="<%=project.img%>"></img>
                <div style="z-index: <%=index+2%>">
                    <h1><%=translation.main.projects[project.title] || project.title%></h1>
                    <div class="description">
                        <div>
                            <%=translation.main.projects[project.title+".desc"] || project.desc%>
                        </div>
                        <ul>
                            <%=translation.main.projects.tags%>:
                            <% project.tags.forEach(tag=> { %>
                                <li>
                                    #<%= translation.glossary[tag] || tag %>
                                </li>
                            <% }); %>
                        </ul>
                    </div>
                    <a href="<%=project.github%>" target="_blank" rel="noopener noreferrer">
                        <%=translation.main.projects.check%>
                        <img class="githubLink" src="/images/socials/github.png"></img>
                    </a>
                </div>
            </div>
        <% }); %>
    </div>
    <span>
        <a href="<%=(socialMediaLinks.find(e=>e.alt==='github')).href%>" target="_blank" rel="noopener noreferrer">
            <%=translation.main.projects.more%>
            <img class="githubLink" src="/images/socials/github.png"></img>
        </a>
    </span>
</div>
<script>
    let showTagsContext = {}
    function showTags(tag){
        showTagsContext.hidden = showTagsContext.hidden || []
        showTagsContext.hidden.forEach(e=>e.style.display='flex')
        if (showTagsContext.last === tag){
            document.getElementById(`${tag}Tag`).checked = false
            showTagsContext.last = null
            return
        }
        showTagsContext.last = tag
        showTagsContext.hidden = Array.from(document.getElementById('projectsContainerContent').children)
        .filter(child=>{
            return !child.attributes.tags.value.split(';').includes(tag)
        })
        showTagsContext.hidden.forEach(e=>e.style.display='none')
    }
</script>