<div>
    <hr>
    <span data-toggle="collapse" href="#links" id="shakingTextMore" style="cursor: pointer;" class="shaking"><%= translation.footer.more %></span>
    <span data-toggle="collapse" href="#links" id="shakingTextLess" style="cursor: pointer; display: none;"><%= translation.footer.less %></span>
    <div id="links" class="collapse footer navbar-fixed-bottom">
        <div class="list-inline-item">
            <a class="githubLinkContainer" target="_blank" rel="noopener noreferrer" href="https://github.com/Arogancki/nodeJS_repo/tree/master/resume">
                <span><%= translation.footer.project %></span>
                <img class="githubLink" src="/images/socials/github.png"></img>
            </a>
        </div>
        <div class="list-inline-item">  
            <span><%= translation.footer.technologies %></span>
            <img src="/images/technologies/nodejs.png"></img>
            <img src="/images/technologies/express.png"></img>
            <img src="/images/technologies/javascript.png"></img>
            <img src="/images/technologies/html.png"></img>
            <img src="/images/technologies/css.png"></img>
            <img src="/images/technologies/sass.png"></img>
            <img src="/images/technologies/bootstrap.png"></img>
        </div>
        <div class="funny list-inline-item">
            <span><%= translation.footer.funny %></span>
            <a href="/404">404</a>
            <a href="/429">429</a>
            <a href="/500">500</a>
        </div>
        <div id="last" >© Artur Ziemba 2018</div>
    </div>
</div>
<script>
$(document).ready(function(){
    $("#links").on('shown.bs.collapse', function(){
        const more = document.getElementById("shakingTextMore")
        if (more.classList.contains('shaking'))
            more.classList.remove('shaking')
        document.getElementById('last').scrollIntoView({behavior: 'smooth'})
    })
    $("#links").on('show.bs.collapse', function(){
        document.getElementById("shakingTextMore").style.display = 'none'
        document.getElementById("shakingTextLess").style.display = ''
    })
    $("#links").on('hide.bs.collapse', function(){
        document.getElementById("shakingTextMore").style.display = ''
        document.getElementById("shakingTextLess").style.display = 'none'
    })
})
</script>