<nav class="navbar navbar-expand-md navbar-light">
    <div class="mx-auto list-inline" style="white-space: nowrap;">
        <h1 class='list-inline-item' >Artur Ziemba</h1>
        <button class="navbar-toggler list-inline-item" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="w-100 mx-auto navbar-nav">
            <% navigationLinks.forEach(link=> { %>
                <li class="mx-auto align-self-center">
                    <a  class="mx-auto" href="<%= link.href %>">
                        <%= translation.header[link.value] %>
                    </a>
                </li>
            <% }); %>
            <div class="mx-auto inline navbar-nav list-inline">
                <div style="white-space: nowrap;" class="mx-auto list-inline-item">
                    <% socialMediaLinks.forEach(link=> { %>
                        <a target="_blank" rel="noopener noreferrer" href="<%= link.href %>">
                            <img class="socialMediaLink" src="<%= link.src %>" alt="<%= link.alt %>"/>
                        </a>
                    <% }); %>
                    <% if (lang!=='en') { %>
                        <a href="?clang=en"><img class="socialMediaLink" src="/images/flags/en.png" alt="lang"/></a>
                    <% } %>
                    <% if (lang!=='pl') { %>
                        <a href="?clang=pl"><img class="socialMediaLink" src="/images/flags/pl.png" alt="lang"/></a>
                    <% } %>
                </div>
            </div>
        </ul>
    </div>
</nav>